body {
    background-color: #f2f4f5;
    margin: 0
}

main {
    width: 70%;
    display: table;
    margin: 100px auto 0 auto;
}

.card-container {
    width: 270px;
    display: table;
    float: left;
    margin: 60px 60px 0 0;

}

.card {
    width: 100%;
    display: table;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.15);
    padding: 15px;
    box-sizing: border-box;
}

.card .card-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 6px;
    display: block;
   
}

.card .card-image-top {
    margin-top: -55px;
}

.card .card-body{
    width: 100%;
    display: table;
    margin-top: 13px;
}

.card .card-body h1{
    font-family: Arial black, Helvetica, sans-serif;
    font-size: 21px;
    line-height: 24px;
    color: #9013fe;
    margin:0;
    text-align: center;
}

.card .card-body p {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
display: block;
line-height: 14px;
color: #4a4a4a;
text-align: justify;
font-weight: 800;
margin: 15px 0 10px 0;
}

.card .card-footer{
    width: 100%;
    display: table;
}

.card .card-footer .btn {
    width: 100%;
}

.btn {
    width:auto;
    height:100%;
    display: inline-block;
    background-color: green ;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-transform: lowercase;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    margin-top:12px;
   padding: 0 30px;
   border-radius: 4px;
   box-sizing: border-box;
}
